<div class="container orderDetails" *ngIf="products.length > 0">
    <div class="card bg-light mb-3">
        <div class="card-header text-center">{{ 'CHECKOUT.ORDER_DETAILS_HEADER' | translate }}</div>
        <div class="card-body">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item col-md-5 head">{{ 'CHECKOUT.PRODUCT' | translate }}</li>
                <li class="list-group-item col-md-3 head">{{ 'CHECKOUT.QUANTITY' | translate }}</li>
                <li class="list-group-item col-md-4 head">{{ 'CHECKOUT.PRICE' | translate }}</li>
            </ul>
            <ul class="list-group list-group-horizontal-sm" *ngFor="let product of products">
                <li class="list-group-item col-md-5">{{product.product.name}}</li>
                <li class="list-group-item col-md-3"><span
                        class="badge badge-primary badge-pill">{{product.quantity}}</span></li>
                <li class="list-group-item col-md-4">{{product.product.price * product.quantity | currency :'INR'}}</li>
            </ul>
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item col-md-8 head">{{ 'CHECKOUT.TOTAL' | translate }}</li>
                <li class="list-group-item col-md-4 head">{{totalPrice | currency :'INR'}}</li>
            </ul>
        </div>
    </div>
</div>

<div class="container" *ngIf="products.length > 0">
    <div class="card bg-light mb-3">
        <div class="card-header text-center">{{ 'CHECKOUT.DELIVERY_DETAILS_HEADER' | translate }}</div>
        <div class="card-body">
            <form class="needs-validation" nonvalidate [formGroup]="deliveryDetailsForm">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="firstName">{{ 'CHECKOUT.FIRSTNAME' | translate }}</label>
                        <input type="text" class="form-control" id="firstName" formControlName="firstName"
                            [ngClass]="getControlValidationClasses(firstNameControl)">
                        <div class="invalid-feedback"
                            *ngIf="firstNameControl.touched && firstNameControl.errors?.required">
                            {{ 'CHECKOUT.FIRSTNAME_REQUIRED' | translate }}
                        </div>
                        <div class="invalid-feedback"
                            *ngIf="firstNameControl.touched && firstNameControl.errors?.minlength">
                            {{ 'CHECKOUT.FIRSTNAME_MINLENGTH' | translate }}
                        </div>
                        <div class="invalid-feedback"
                            *ngIf="firstNameControl.touched && firstNameControl.errors?.pattern">
                            {{ 'CHECKOUT.FIRSTNAME_PATTERN' | translate }}
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="lastname">{{ 'CHECKOUT.LASTNAME' | translate }}</label>
                        <input type="text" class="form-control" id="lastname" formControlName="lastName"
                            [ngClass]="getControlValidationClasses(lastNameControl)">
                        <div class="invalid-feedback"
                            *ngIf="lastNameControl.touched && lastNameControl.errors?.required">
                            {{ 'CHECKOUT.LASTNAME_REQUIRED' | translate }}
                        </div>
                        <div class="invalid-feedback"
                            *ngIf="lastNameControl.touched && lastNameControl.errors?.minlength">
                            {{ 'CHECKOUT.LASTNAME_MINLENGTH' | translate }}
                        </div>
                        <div class="invalid-feedback"
                            *ngIf="lastNameControl.touched && lastNameControl.errors?.pattern">
                            {{ 'CHECKOUT.LASTNAME_PATTERN' | translate }}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="email">{{ 'CHECKOUT.EMAIL' | translate }}</label>
                        <input type="email" class="form-control" id="email" formControlName="email"
                            [ngClass]="getControlValidationClasses(emailControl)">
                        <div class="invalid-feedback" *ngIf="emailControl.touched && emailControl.errors?.required">
                            {{ 'CHECKOUT.EMAIL_REQUIRED' | translate }}
                        </div>
                        <div class="invalid-feedback" *ngIf="emailControl.touched && emailControl.errors?.email">
                            {{ 'CHECKOUT.VALID_EMAIL' | translate }}
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="phone">{{ 'CHECKOUT.PHONE' | translate }}</label>
                        <input type="text" class="form-control" id="phone" formControlName="phone"
                            [ngClass]="getControlValidationClasses(phoneControl)">
                        <div class="invalid-feedback" *ngIf="phoneControl.touched && phoneControl.errors?.required">
                            {{ 'CHECKOUT.PHONE_REQUIRED' | translate }}
                        </div>
                        <div class="invalid-feedback" *ngIf="phoneControl.touched && phoneControl.errors?.maxlength">
                            {{ 'CHECKOUT.PHONE_MAXLENGTH' | translate }}
                        </div>
                        <div class="invalid-feedback" *ngIf="phoneControl.touched && phoneControl.errors?.minlength">
                            {{ 'CHECKOUT.PHONE_MINLENGTH' | translate }}
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="paymentMode">{{ 'CHECKOUT.PAYMENT_MODE' | translate }}</label>
                        <select id="paymentMode" class="form-control" formControlName="paymentMode"
                            [ngClass]="getControlValidationClasses(paymentModeControl)">
                            <option selected>Choose...</option>
                            <option>Cash on Delivery</option>
                            <option>Debit card</option>
                            <option>Credit card</option>
                            <option>Paytm</option>
                        </select>
                        <div class="invalid-feedback"
                            *ngIf="paymentModeControl.touched && paymentModeControl.errors?.required">
                            {{ 'CHECKOUT.PAYMENT_REQUIRED' | translate }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="address">{{ 'CHECKOUT.ADDRESS' | translate }}</label>
                    <input type="text" class="form-control" id="address" formControlName="address"
                        [ngClass]="getControlValidationClasses(addressControl)">
                    <div class="invalid-feedback" *ngIf="addressControl.touched && addressControl.errors?.required">
                        {{ 'CHECKOUT.ADDRESS_REQUIRED' | translate }}
                    </div>
                    <div class="invalid-feedback" *ngIf="addressControl.touched && addressControl.errors?.minlength">
                        {{ 'CHECKOUT.ADDRESS_MINLEN' | translate }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="city">{{ 'CHECKOUT.CITY' | translate }}</label>
                        <input type="text" class="form-control" id="city" formControlName="city"
                            [ngClass]="getControlValidationClasses(cityControl)">
                        <div class="invalid-feedback" *ngIf="cityControl.touched && cityControl.errors?.required">
                            {{ 'CHECKOUT.CITY_REQUIRED' | translate }}
                        </div>
                        <div class="invalid-feedback" *ngIf="cityControl.touched && cityControl.errors?.pattern">
                            {{ 'CHECKOUT.CITY_PATTERN' | translate }}
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="state">{{ 'CHECKOUT.STATE' | translate }}</label>
                        <select id="state" class="form-control" formControlName="state"
                            [ngClass]="getControlValidationClasses(stateControl)">
                            <option selected disabled value="">Choose...</option>
                            <option>Haryana</option>
                            <option>Delhi</option>
                            <option>Uttar Pradesh</option>
                            <option>Maharastra</option>
                            <option>Andhra Pradesh</option>
                            <option>Himachal Pradesh</option>
                            <option>Punjab</option>
                        </select>
                        <div class="invalid-feedback" *ngIf="stateControl.touched && stateControl.errors?.required">
                            {{ 'CHECKOUT.STATE_REQUIRED' | translate }}
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="pincode">{{ 'CHECKOUT.PINCODE' | translate }}</label>
                        <input type="text" class="form-control" id="pincode" formControlName="pinCode"
                            [ngClass]="getControlValidationClasses(pinCodeControl)">
                        <div class="invalid-feedback" *ngIf="pinCodeControl.touched && pinCodeControl.errors?.required">
                            {{ 'CHECKOUT.PINCODE_REQUIRED' | translate }}
                        </div>
                        <div class="invalid-feedback" *ngIf="pinCodeControl.touched && pinCodeControl.errors?.pattern">
                            {{ 'CHECKOUT.PINCODE_PATTERN' | translate }}
                        </div>
                    </div>
                </div>
                <br>
                <div style="text-align: center;padding: 3px;">
                    <button type="submit" class="btn btn-success" (click)="onFormSubmit()"
                        [disabled]="!deliveryDetailsForm.valid">{{ 'CHECKOUT.PLACEORDER' | translate }}</button>&nbsp;
                    <button type="button" class="btn btn-warning" (click)="onCancelClicked()">{{ 'CHECKOUT.CANCEL' | translate }}</button>
                </div>
            </form>
        </div>
    </div>
</div>