<div class="cart-page-container">
    <div class="cart-page-content" *ngIf="cartItems.length > 0">
        <div class="card cart-item-row" *ngFor="let cart of cartItems;let i = index">
            <div class="cart-item-cell cart-item-product">
                <div class="cart-item-thumbnail">
                    <img width="130px" height="120px" src="{{cart.product.imgUrl}}" alt={{cart.product.name}}>
                </div>
                <div class="cart-item-info">
                    <div class="cart-item-brand">{{cart.product.brand}}</div>
                    <div class="cart-item-title">{{cart.product.name}}</div>
                </div>
            </div>
            <div class="cart-item-cell cart-item-quantity plusminus">
                <div class="number">
                    <input class="input-style" readonly type="number" value={{cart.quantity}}>
                </div>
                <div class="actions">
                    <div (click)="plusOne(i)" class="noselect">+</div>
                    <div (click)="minusOne(i)" class="noselect">-</div>
                </div>
            </div>
            <div class="cart-item-cell cart-item-total">
                <div class="item-price">
                    {{cart.quantity*cart.product.price | currency :'INR' }}
                </div>
            </div>
            <div class="cart-item-cell cart-item-action">
                <div class="item-remove" (click)="removeFromCart(i)"><mat-icon class="delete">delete</mat-icon></div>
            </div>
        </div>
        <div class="cart-buttons">
            <div class="continue-shopping"><a routerLink="/">{{ 'CART.CONTINUE_SHOPPING' | translate }}</a></div>
            <button type="button" class="btn btn-success checkout-button" (click)="goToCheckout()">{{ 'CART.CHECKOUT_BUTTON' | translate }} ({{totalPrice | currency :'INR'}})</button>
        </div>
    </div>
    <div class="cart-page-content" *ngIf="cartItems.length == 0">
        <h4>{{ 'CART.CART_EMPTY' | translate }}</h4>
        <a routerLink="/">{{ 'CART.GO_SHOPPING' | translate }}</a>
    </div>
</div>