.card{
    border-radius: 15px;
    border-style:solid;
    border-width: 2px;
    margin: 0 auto;
    margin-top: 30px;
    width: 900px;
    height: 510px;
}

.details{
    height: 600px;
}

.addCartButton{
    margin-left: 130px;
}
.cartButton{
    margin-right: 5px;
}

.priceRating{
    display:flex;
    justify-content: space-between;
}

.ratings{
    margin-right: 200px;
}
