<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img width="350" height="500px" src={{product.imgUrl}} alt="Photo of a Product">
    </div>
    <div class="col-md-8 details">
      <div class="card-body">
        <h4 class="card-title">{{product.name}}</h4>
        <div class="priceRating">
          <h2>{{product.price | currency : 'INR'}}</h2>
          <app-rating [starRating]="product.rating" class="ratings"></app-rating>
        </div>
        <p class="card-text">{{product.description}}</p>
        <ul class="list-unstyled">
          <li>{{ 'PRODUCT_DETAILS.FEATURES' | translate }}
            <ul *ngFor="let feature of product.features" class="ul-data">
              <li>{{feature}}</li>
            </ul>
          </li>
        </ul>
      </div>
      <mat-card-actions class="addCartButton">
        <button class="btn btn-info cartButton" mat-button (click)="addToCart()" *ngIf="!(addCartClick)">
          <mat-icon>add_shopping_cart</mat-icon>{{ 'PRODUCT_DETAILS.ADD_TO_CART_BUTTON' | translate }}
        </button>
        <button class="btn btn-success cartButton" mat-button (click)="viewCart()" *ngIf="addCartClick">
          <mat-icon>add_shopping_cart</mat-icon>{{ 'PRODUCT_DETAILS.VIEW_CART_BUTTON' | translate }}
        </button>
        <button class="btn btn-warning" mat-button [routerLink]="['/']" *ngIf="!(addCartClick)">
          <mat-icon>close</mat-icon>{{ 'PRODUCT_DETAILS.CANCEL_BUTTON' | translate }}
        </button>
        <button class="btn btn-info" mat-button [routerLink]="['/']" *ngIf="addCartClick">
          <mat-icon>home</mat-icon>{{ 'PRODUCT_DETAILS.SHOP_MORE_BUTTON' | translate }}
        </button>
      </mat-card-actions>
    </div>
  </div>
</div>